        <h2>Reset Your Password</h2>

        <p>Hello {{name}},</p>

        <p>We received a request to reset your password for your RentEase account. Click the button below to set a new password:</p>

        <div class="info-box">
            <p><strong>This password reset link will expire in {{expiryTime}}.</strong></p>
            <p>If you didn't request a password reset, please ignore this email or contact support if you have concerns.</p>
        </div>

        <center>
            <a href="{{resetUrl}}" class="button">Reset Password</a>
        </center>

        <p>If the button doesn't work, copy and paste this link into your browser:</p>
        <p style="word-break: break-all; color: #667eea;">{{resetUrl}}</p>

        <p>For security, this link will expire after {{expiryTime}}.</p>

        <p>Thanks,<br>The RentEase Team</p>
